<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block files %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

</head>

<body>
<!--    <header>-->
<!--        <div class="header__logo">-->
<!--            <a href="{% url 'home' %}"><img src="{% static 'img/axiom_logo.jpg' %}" height="150" alt="Axiom"></a>-->
<!--        </div>-->
<!--        <div class="headerr__optionsbar">-->
<!--            {% if role == None %}-->
<!--                <div class="headerr__button">-->
<!--                    <a href="#">Войти</a>-->
<!--                </div>-->
<!--                <div class="headerr__button">-->
<!--                    <a href="#">Регистрация</a>-->
<!--                </div>-->
<!--            {% endif %}-->

<!--            {% if role %}-->
<!--                <div class="headerr__button">-->
<!--                    <a href="{% url 'personal_page' %}">Личный кабинет {{ role }}а</a>-->
<!--                </div>-->
<!--                <div class="headerr__button">-->
<!--                    <a href="{% url 'logout' %}">Выйти</a>-->
<!--                </div>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </header>-->

    <div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  {% if role == None %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </li>
                  {% endif %}
                  {% if role %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'personal_page' %}">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                    </li>
                  {% endif %}
              </ul>
            </div>
          </nav>
        </div>
    {% block content %}
    {% endblock %}


    <footer>

    </footer>
</body>
</html>