{% extends 'base_template.html' %}

{% block title %}Регистрация{% endblock %}

{% load static %}

{% block files %}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <h2 class="text-center mb-4">Форма регистрации</h2>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <form method="POST">
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Регистрация</button>
                </div>
            </form>

            <div class="border-top pt-3">
                <small class="text-muted">
                    Уже есть аккаунт? <a class="ml-2" href="{% url 'login' %}">Вход</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}