{% extends 'base_template.html' %}

{% block title %}Источники питания потребителей{% endblock %}

{% load static %}

{% block files %}
{% endblock %}

{% block content %}
<table class="table">
      <thead>
      <tr>
          <th>ID потребителя</th>
          <th>Источники</th>
      </tr>

      </thead>
      <tbody id="userTableBody">
      <tr>
          <th>
              1
          </th>
          <th>
              1
          </th>
      </tr>
      <tr>
          <th>
              2
          </th>
          <th>
              1
          </th>
      </tr>
      <tr>
          <th>
              3
          </th>
          <th>
              1
          </th>
      </tr>
      <tr>
          <th>
              4
          </th>
          <th>
              1
          </th>
      </tr>
      <tr>
          <th>
              5
          </th>
          <th>
              1
          </th>
      </tr>
      <tr>
          <th>
              6
          </th>
          <th>
              1
          </th>
      </tr>
            <tr>
          <th>
              7
          </th>
          <th>
              1
          </th>
      </tr>
      <tr>
          <th>
              8
          </th>
          <th>
              1
          </th>
      </tr>
      <tr>
          <th>
              9
          </th>
          <th>
              2
          </th>
      </tr>
      <tr>
          <th>
              10
          </th>
          <th>
              2
          </th>
      </tr>
      <tr>
          <th>
              11
          </th>
          <th>
              2
          </th>
      </tr>
      <tr>
          <th>
              12
          </th>
          <th>
              2
          </th>
      </tr>
            <tr>
          <th>
              13
          </th>
          <th>
              2
          </th>
      </tr>
      <tr>
          <th>
              14
          </th>
          <th>
              2
          </th>
      </tr>
      <tr>
          <th>
              15
          </th>
          <th>
              2
          </th>
      </tr>
      </tbody>
</table>
{% endblock %}
