{% extends 'base_template.html' %}

{% block title %}Главная страница{% endblock %}

{% load static %}

{% block files %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1>Welcome to My Site</h1>
      <p>This is a description of my site.</p>
       <image src="{% static 'img/scheme.jpg' %}" width="450"/>
    </div>
    <div class="col-md-4">
      <h2>Датчики</h2>
      <ul>
        <li>Датчик 1</li>
        <li>Датчик 2</li>
        <li>Датчик 3</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}