{% extends 'base_template.html' %}

{% block title %}Главная страница{% endblock %}

{% load static %}

{% block files %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div>
    <div class="text-center">
      <h2>Добро пожаловать на наш сайт!</h2>
      <p></p>
    </div>
    <div>
      <h2>Наша команда:</h2>
      <ul class="text-left">
        <li>Миронов Андрей</li>
        <li>Остудина Ксения</li>
        <li>Гаврилов Максим</li>
      </ul>
    </div>
      <ul>
        <image src="{% static 'img/electric.jpg' %}" width="300" class="rounded"/>
        <image src="{% static 'img/ИИКС.png' %}" width="300" class="float-right"/>
      </ul>
  </div>
</div>
{% endblock %}