{% extends 'base_template.html' %}

{% block title %}Личный кабинет{% endblock %}

{% load static %}

{% block files %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <h2 class="text-center mb-4">Подробная информация</h2>
      </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <canvas id='myChart' width="400" height="200"></canvas>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Текущая температура:
                            <span id="temp_value">346</span>
                        </div>
                    </div>
                </div>

                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Базовый тариф: {{ visitor.tariff }} руб/кВтч
                        </div>
                    </div>
                </div>
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Стоимость энергии: {{ current_price }} руб.
                        </div>
                    </div>
                </div>
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Статус по стоимости: {{ visitor.status }}
                        </div>
                    </div>
                </div>
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Ваш баланс:
                            <span class="highlighted_text">{{ visitor.balance }}</span> руб
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/temp_visitor.js' %}" defer></script>
{% endblock %}