{% extends 'base_template.html' %}

{% block title %}Форма оператора{% endblock %}

{% load static %}

{% block files %}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-md-3 mt-5">
            <form method="POST">
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Применить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <image src="{% static 'img/scheme.svg' %}" width="800"/>
</div>

{% endblock %}