{% extends 'base_template.html' %}

{% block title %}Форма оператора{% endblock %}

{% load static %}

{% block files %}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-md-3 mt-5">
            <form class='form' method="POST">
                <div class='row'>
                    {% for field in form %}
                        <div class='col-md-3'>
                          {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                </div>
                <input class='btn btn-primary' type='submit'>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <image src="{% static 'img/scheme.svg' %}" width="800"/>
</div>

{% endblock %}