{% extends 'base_template.html' %}

{% block title %}Личный кабинет{% endblock %}

{% load static %}

{% block files %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <h2 class="text-center mb-4">Личный кабинет</h2>
      </div>
    </div>
</div>
{% if request.session.user_group == 'OPERATOR' %}

<div class="container">
  <div class="row">
    <div class="col">
      <a href="{% url 'operator_form' %}" class="btn btn-primary">Форма оператора </a>
    </div>
    <div class="col">
      <a href="{% url 'consumer_source' %}" class="btn btn-primary">Источники потребителей</a>
    </div>
    <div class="col">
      <a href="{% url 'power_supply' %}" class="btn btn-primary">Блоки питания</a>
    </div>
  </div>
</div>

{% elif request.session.user_group == 'VISITOR' %}
<div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <canvas id='myChart' width="400" height="200"></canvas>
                    </div>
                </div>
<!--                <div class="row our_cells">-->
<!--                    <div class="our_main_divs" style="display: flex; justify-content: center">-->
<!--                        <div style="width: 100%; display: inline-flex; justify-content: center">-->
<!--                            <button type="button" class="our_green_button"-->
<!--                                    style="width: 20%; border-top-right-radius: 0; border-bottom-right-radius: 0">10 Минут-->
<!--                            </button>-->
<!--                            <button type="button" class="our_green_button"-->
<!--                                    style="width: 20%; margin-left: 5px; border-radius: 0">30 минут-->
<!--                            </button>-->
<!--                            <button type="button" class="our_green_button"-->
<!--                                    style="width: 20%; margin-left: 5px; border-radius: 0">Час-->
<!--                            </button>-->
<!--                            <button type="button" class="our_green_button"-->
<!--                                    style="width: 20%; margin-left: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0">-->
<!--                                4 Часа-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="col-4">
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Текущая температура:
<!--                            <div id="uniqueID">{{ temperature }} <span class="highlighted_text">{{ current_rate }}</span></div>-->
                        </div>
                    </div>
                </div>
<!--                <div class="row our_cells">-->
<!--                    <div class="our_main_divs" style="display: block">-->
<!--                        <div style="box-sizing: content-box">-->
<!--                            <input type="number" placeholder=" Количество" class="text_field_buy_or_sell">-->
<!--                            <button type="submit" class="our_green_button"-->
<!--                                    style="height: 2.5rem; width: 30%; margin-left: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0">-->
<!--                                Купить-->
<!--                            </button>-->
<!--                        </div>-->

<!--                        <div style="margin-top: 5px; box-sizing: content-box">-->
<!--                            <input type="number" placeholder=" Количество" class="text_field_buy_or_sell">-->
<!--                            <button type="submit" class="our_green_button"-->
<!--                                    style="height: 2.5rem; width: 30%; margin-left: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0">-->
<!--                                Продать-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Базовый тариф: 3.16 руб/кВтч
                        </div>
                    </div>
                </div>
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Стоимость энергии:
                        </div>
                    </div>
                </div>
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Статус по стоимости:
                        </div>
                    </div>
                </div>
                <div class="row our_cells">
                    <div class="our_main_divs">
                        <div style="font-size: 1rem">Ваш баланс:
                            <div><span class="highlighted_text">{{ user_balance }}</span> руб</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/temperatures.js' %}" defer></script>

{% else %}
<!DOCTYPE html>
<html>
  <head>
    <title>User Table</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th>Login</th>
          <th>Name</th>
          <th>Role</th>
        </tr>

        {% for user in users %}
        <tr>
            <td><a href="{% url 'info_page' user.id %}">{{ user.login }} </a></td>
            <td>{{ user.name }}</td>
            <td>{{ user.group }}</td>
        </tr>
        {% endfor %}
      </thead>
      <tbody id="userTableBody">
      </tbody>
    </table>
    <style>
      .tb { border-collapse: collapse; width:300px; }
      .tb th, .tb td .tb a{ padding: 5px; border: solid 1px #777; }
      .tb th { background-color: lightblue; }
    </style>
    <script>
    </script>

{% endif %}
{% endblock %}