{% extends 'base_template.html' %}

{% block title %}Личный кабинет{% endblock %}

{% load static %}

{% block files %}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <h2 class="text-center mb-4">Состояние реле</h2>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <form method="POST">
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Применить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/temperatures.js' %}" defer></script>
{% endblock %}